.tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 200px;
    height: 200px;
    text-decoration: none;
    color: #333;
  }
  
  .tile h3 {
    margin-top: 10px;
    font-size: 20px;
  }

  

.tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 200px;
    height: 200px;
    text-decoration: none;
    color: #333;
  }
  
  .tile h3 {
    margin-top: 10px;
    font-size: 20px;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  color: #fff;
  height: 100%;
}

#root {
  height: 100%;
}

body {
  min-height: 100vh;
  background-color: dodgerblue;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem 0.5rem;
}

section {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
}

form.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

form.login-form label,
form.login-form button {
  margin-top: 1rem;
}

form.login-form button {
  padding: 0.5rem;
}

section p {
  margin-top: 1rem;
}

section p .line {
  text-decoration: underline;
  cursor: pointer;
}


section.login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  form.login-form {
    width: 100%;
    max-width: 320px;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .login-section form label {
    display: inline-block;
    width: 100px; /* Adjust the width as needed */
    margin-bottom: 0.5rem;
  }
  
  .login-section form input[type="password"] {
    width: 100px; /* Adjust the width as needed */
    margin-bottom: 0.5rem;
  }
  